:root {
    --color-blue: #2c7dfa;
    --color-blue-shade: #3685ff;
    --color-dark-navy: #1f314f;
    --color-grey: #7d889e;
    --color-light-grey: #d5e1ef;
    --color-white: #ffffff;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
  }

  .main {
    background-color: var(--color-light-grey);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .container {
    background-color: var(--color-white);
    width: 320px;
    height: 497px;
    padding: 16px;
   border-radius: 20px;
   
  }
  .qr-image img {
    width: 100%;
    height: 100%;
    border-radius:10px;
  }
.content  {
    margin-top: 5px;
  }
  .content h2 {
    color: var(--color-dark-navy);
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: 20px 18px;
  }
 .content p {
    color: var(--color-grey);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 15px;
 }



